.body {
    justify-content: center;
    align-items: center;
    background-color: chocolate;
}

#calculator {
    width: 300px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba (0, 0, 0, 0.1);
    background-color: coral;
}

#display {
    display: none;  
}